/* ====================>> Landing Page <<==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: sans-serif, "Bebas Neue", "Cabin", "Urbanist";
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.container {
  display: flex;
  width: 100%;
  border-radius: 60px;
}

.left {
  flex-basis: 50%;
  background-color: white;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.en {
  display: flex block;
  padding: 7px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #d2d2d2;
}

#logo {
  width: 110px;
  height: 50px;
  /* flex-shrink: 0; */
}

#australian-flag {
  width: 17px;
  height: 13px;
}

#down-arrow {
  width: 12px;
  height: 12px;
  /* flex-shrink: 0; */
}

.form-class {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.welcome {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  font-family: "Bebas Neue";
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.welcome p {
  font-family: Urbanist;
  font-weight: 400;
}

.google {
  display: flex;
  justify-content: center;
  margin: 20px 0 17px 0;
  padding: 10px;
  border: 1px solid #d2d2d2;
  color: #2e2e2e;
  font-family: Cabin;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}

.google img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-right: 6px;
}

.or-text {
  margin-bottom: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.or-text hr {
  width: 60px;
  height: 1px;
}

.or-text p {
  color: #afa8a8;
  font-family: Cabin;
  font-weight: 400;
}

form {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

form input {
  display: inline-flex;
  border-radius: 6px;
  border: 1px solid #d2d2d2;
  padding: 10px;
}

#checkbox {
  font-family: Cabin;
  font-weight: 400;
}

button {
  border-radius: 30px;
  background: #000;
  color: white;
  font-family: Cabin;
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  /* animation: 2s ease; */
  animation-delay: 1s;
  transition: 0.5s;
}

button:hover {
  /* box-shadow: 0 0 5px #fec00f; */
  padding: 11px;
  background-color: #fec00f;
  color: #000;
}

.account {
  font-family: Urbanist;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
}

.account a {
  color: #fec00f;
  font-family: Urbanist;
  font-weight: 600;
  text-decoration: none;
}

::placeholder {
  color: #2e2e2e;
}

#remember-text {
  font-size: 14px;
}

.right {
  flex-basis: 50%;
  /* flex-shrink: 0; */
}

/* .right img {
  /* width: 100%; *
  height: 100%;
  object-fit: contain;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
} */

/* .responsive-image {
  background-image: url("./assets/image.png");
  /* object-fit: contain; *
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
} */

.responsive-image {
  /* bottom: 50%; */
  object-fit: cover;
  background-position: center;
  /* width: 100%; */
}

/* ====================>> Landing Page <<==================== */

@media (max-width: 768px) {
  .form-class {
    padding-top: 2.5rem;
  }
  .container {
    height: 100%;
  }
  .left {
    flex: 1 0 100%;
    height: 100vh;
  }
  .right {
    display: none;
  }
}

@media (max-width: 910px) {
  .container {
    height: 100%;
  }
  .welcome h1 {
    font-size: 40px;
  }
}
